@font-face {
  font-family: 'Scope One';
  src: url(https://fonts.gstatic.com/s/scopeone/v2/_52Fm41u4u2R3EEH0A9bn1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Carpenter Script';
    src: url('../../fonts/Carpenter Script.ttf') format('truetype');
}

body {
        font-family: 'Scope One', serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
      }

.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
}



.footer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu > a > div {
    margin-right: 20%;
    cursor: pointer;
}

.menu-spacer {
    margin-right: 40px;
}

.contacts-spacer {
    margin-bottom: 20px;
}

contacts-links {
    color: red;
}


.designer-dropdown {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.designer-dropdown > a > div:hover {
    background-color: black;
    background:rgba(255,255,255, 0.5);
    color: black;
    font-weight: bolder;
}

.designer-portfolio-container {
    display: flex;
    flex-direction: row;
}

.picMenus {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
}

.picMenus > div {
    width: 390px;
}

.picMenus img {
    max-width: 100%;
    height: auto;
}

.picMenus > div > div:last-child {
    background-color: pink;
    height: 174px;

}

.picMenus > div > div:first-child {
    height: 246px;
}

.picMenus > div:first-child, .picMenus > div:last-child  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftImgFacebook { 
   position: relative;
   width: 100%;
}

.facebook { 
   position: absolute; 
   top: 90px; 
   left: 90px; 
   width: 100%; 
   font-size: 70px;
   color: white;
}

.rightImgInstagram {
   position: relative; 
   width: 100%;
}

.instagram {
   position: absolute; 
   top: 90px; 
   left: 12px; 
   width: 100%; 
   font-size: 70px;
   color: white;
}

.btmLeftImgApplication {
   position: relative; 
   width: 100%;
}

.application {
   position: absolute; 
   top: 50px; 
   left: 110px; 
   width: 100%; 
   font-size: 25px;
   color: black;
}

.btmRightImgChat {
   position: relative; 
   width: 100%;
}

.chat {
   position: absolute; 
   top: 30px; 
   left: 135px; 
   width: 100%; 
   font-size: 40px;
   color: black;
}

.middleImgLookbook {
    position: relative;
    width: 100%;
    background-image: url('../Images/centerphotolookbook.jpg');
}

.lookbook {
   position: absolute;
   top: 155px;
   left: 12px;
   width: 100%;
   font-size: 70px;
   color: white;
   opacity: 0;
}


.section-menu {
    margin-top: 50px;
}

.section-home{
    margin-top: 25px;
}

.section-portrait {
    margin-bottom: 25px;
}

.section-designer {
    margin-top: 75px;
}

.topUnderline {
    height: 1px;
    width: 100%;
    background-color: grey;
    border: none;
}

.btmUnderline {
    height: 1.5px;
    width: 100%;
    background-color: black;
    border: none;
    margin-top: -2px;
}

.footerUnderline {
    height: 1px;
    width: 100%;
    background-color: grey;
    border: none;
    margin-top: 75px;
}

a {
    text-decoration: none;
    color: inherit;
}

.designer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.designer-header {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    font-weight: 900;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

.designer-header-cursive {
    font-family: "Carpenter Script";
    font-style: italic;
    font-size: 50px;
    text-transform: capitalize;
    transform: scale(3.5,2.5) translate(0%,-50%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: .25;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: 160px;
}

.designer-headshot {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.designerImg {

}

.designer-bio-text {
    margin-top: -165px;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    font-weight: 600;
    /*background-image: url('../Images/biophoto.jpg');*/
}

.designer-bio-text > div {
    width: 45%;
}

.designer-bio-text > div:first-child > p {
    padding-left: 60px;
}

.designer-bio-text > div:last-child > p {
   padding-left: 80px;
}

.designer-main-design-container {
    display: flex;
    flex-direction: row;
    margin-right: 180px;
}

.section.designer-main-design-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.designer-designs-container {
    position: relative;
}

.designer-designs-container > img {
    width: 100%;
}

.main-design-info {
    align-self: center;
    font-size: 60px;
    color: black;
    font-weight: bolder;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 5.3s;
  transition-duration: 5.3s;
  -webkit-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  opacity: 1;
}

.btn-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}

.btn-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}

.btn-floating {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
}

}

@media screen and (max-width: 375px) {
    .menu {
        width: 320px;
    }

    .logoPicture {
        width: 132px;

    }

}