@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home">
    <div class="section-home">
        <div class="section-portrait">

        </div>
    </div>

    <div class="picMenus section-home">
        <div>
            <div class="leftImgFacebook">
                <a target="_blank" href="https://www.facebook.com/FreshTraditionsFashionShow/">
                    <img src="~/Content/Images/leftphotofacebook.jpg" alt="" />
                    <p class="facebook">facebook</p>
                </a>
            </div>
            <div class="btmLeftImgApplication">
                <a><img src="~/Content/Images/textphoto.jpg" /></a>
                <p class="application">APPLICATION</p>
            </div>
        </div>
        <div class="middleImgLookbook">
            <a target="_blank" href="https://issuu.com/freshtraditions/docs/ftx_lookbook">
                <div class="lookbook hvr-fade">LOOKBOOK</div>
            </a>
        </div>
        <div>
            <div class="rightImgInstagram">
                <a target="_blank" href="https://www.instagram.com/freshtraditionsfashion/">
                    <img src="~/Content/Images/rightphotoinstagram.png" alt="" />
                    <p class="instagram">Instagram</p>
                </a>
            </div>
            <div class="btmRightImgChat">
                <a target="_blank" href="http://www.aboutchat.org">
                    <img src="~/Content/Images/textphoto.jpg" />
                    <p class="chat">CHAT</p>
                </a>

            </div>
        </div>
    </div>
</div>