@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Fresh Traditions is a program of the Center for Hmong Arts and Talent
    (CHAT) that nurtures and develops Hmong artists in fashion.
    The program culminates with a showcase of work by Hmong fashion designers
    in the annual Fresh Traditions Fashion Show. The history of Hmong art
    is rooted and sewn into the fabrics of traditional Hmong clothing where the
    unique combination of vibrant colors and textures make the Hmong identifiable.
    Fresh Traditions offers an opportunity for Hmong fashion designers to make
    fresh and contemporary interpretations of these traditional fabrics.
</p>

<strong>The Fresh Traditions Fashion Show Challenge:</strong>
<p>
    In addition to their collection, each fashion designer is required
    to design at least one ensemble using a combination of 5 traditional
    Hmong fabrics including: black velvet, black satin, florescent pink
    chiffon, neon green chiffon and royal blue satin. In 2016, we celebrate
    the 10th Annual Fresh Traditions Fashion Show! Since its inception
    in 2007, the program has presented and engaged over 1000 artists
    including fashion designers, hair stylists, makeup artists,
    photographers, videographers, graphic designers, dancers, singers, comedians and set designers.
    This year, the Fresh Traditions X Fashion Show has been working
    with 13 designers - 4 returning designers and 6 new designers from
    California, Indiana, Minnesota, and Wisconsin. We are proud to present
    10 collections for the 10th year! Thank you for joining us for this monumental celebration.
</p>