@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact"
    <h3>Center For Hmong Arts and Talent</h3>
    <div>995 University Ave,</div>
    <div>Studio 220,</div>
    <div>Saint Paul, MN</div>
    <div class="contacts-spacer">55104</div>

    <div class="contacts-links"><a target="_blank" href="https://www.facebook.com/FreshTraditionsFashionShow/">Facebook</a></div>
    <div class="contacts-links"><a target="_blank" href="https://twitter.com/HmongCHAT?lang=en">Twitter</a></div>
</div>